* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #153677, #4e085f);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #002765;
    flex: 1;
}

.input-group {
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 16px;
}

#add-btn {
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #555;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

ul li.checked {
    color: #888;
    text-decoration: line-through;
}

ul li.checked::before {
    background-color: #ff5945;
    border-color: #ff5945;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
    transition: 0.2s;
}

.edit-btn:hover {
    color: blue;
    background-color: #e0e0e0;
}

.delete-btn:hover {
    color: red;
    background-color: #e0e0e0;
}

@media (max-width: 400px) {
    #add-btn {
        padding: 16px 20px;
    }
}