body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

.card {
    background-color: white;
    width: 280px;
    height: 400px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.3);
}

.product-img {
    background-image: url("watch.jpg");
    height: 60%;
    background-size: cover;
    background-position: center;
}

.data {
    padding: 15px;
}

h2 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

.price {
    font-size: 18px;
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #555;
}